<loading-icon></loading-icon>

<div class="container reveal-animation" ng-if="loaded">
  <div class="row separated">
    <div class="col-md-3 img-preview text-right">
      <photo-square class="text-right" photo="photo" href="'/admin/photos/' + photo.id" size="75"></photo-square>
    </div>
    <div class="col-md-6">
      <h2 style="margin-top: 0;" ng-class="{'text-muted': !photo.title}">{{photo.title || photo.original_file_name}}</h2>
      <ul class="list-inline">
        <li>Uploaded <span isodate="photo.created_at"></span></li>
        <li>
          by
          <span ng-if="photo.user.id == current_user.id">you</span>
          <span ng-if="photo.user.id != current_user.id">{{photo.user.username}}</span>
        </li>
      </ul>
    </div>
  </div>


  <form name="$parent.photoForm" class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
      <label class="control-label col-sm-3" for="title">Title</label>
      <div class="col-sm-6">
        <input type="text" ng-model="photo.title" class="form-control" ng-blur="submit()">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="title">Description</label>
      <div class="col-sm-6">
        <textarea ng-model="photo.description" rows="7" class="form-control" ng-blur="submit()"></textarea>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3 text-muted">
      <span ng-if="saving">Saving...</span>
      <span ng-if="saved && !saving" ng-class="{'fade-op is-out': photoForm.$dirty}">Saved.</span>
    </div>

    <!-- <div class="form-group" ng-if="photoForm.$dirty && !saving && !saved">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div> -->
  </form>

  <div class="row separated">
    <hr>
    <div class="col-md-6 col-md-offset-3">
      <p class="lead text-muted" ng-if="!photo.albums.length">
        Not included in any albums yet.
      </p>
      <div ng-if="photo.albums.length">
        <h4>
          Featured in
        </h4>
        <table class="table table-wide">
          <tr>
            <th>Album Title</th>
            <th colspan="3">Created</th>
          </tr>
          <tr ng-repeat="album in photo.albums" data-pending="album-{{album.id}}">
            <td><a ng-href="/admin/albums/{{album.id}}"><strong>{{album.title}}</strong></a></td>
            <td><span isodate="album.created_at" class="small"></span></td>
            <td class="text-right small text-muted" ng-pluralize count="album.photo_count" when="{
              '1': '{} photo',
              'other': '{} photos'
            }"></td>
            <td class="text-right"><a ng-click="removeFromAlbum(album.id)" tooltip="Remove from this album"><span class="octicon octicon-x text-muted"></span></a></td>
          </tr>
        </table>
      </div>

      <div>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addAlbumModal" ng-click="loadAlbums()">Add to album</button>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="addAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to album</h4>
      </div>
      <loading-icon loaded="albumsLoaded">
        <table class="table table-modal" ng-if="albumsLoaded && (albums | notInArray:photo.albums).length">
          <tr>
            <th>Album Title</th>
            <th colspan="2">Created</th>
          </tr>
          <tr ng-repeat="album in albums | notInArray:photo.albums" data-pending="album-{{album.id}}">
            <td><a ng-click="addToAlbum(album.id)">{{album.title}}</a></td>
            <td><span isodate="album.created_at" class="small"></span></td>
            <td class="text-right small text-muted" ng-pluralize count="album.photo_count" when="{
              '1': '{} photo',
              'other': '{} photos'
            }"></td>
          </tr>
        </table>
        <div class="modal-body" ng-if="!(albums | notInArray:photo.albums).length">
          No<span ng-if="albums.length"> more</span> albums available.
        </div>
      </loading-icon>
      <div class="modal-footer" style="text-align:center;">
        <small class="text-muted">Click on an album to add this photograph</small>
      </div>
    </div>
  </div>
</div>
