<div class="hero hero-inverse-to-dark">
  <div class="container text-center">
    <loading-icon></loading-icon>

    <div ng-if="loaded" class="reveal-animation">
      <photo-element photo="photo" size="640"></photo-element>

      <div class="photo-meta-strip">
        <h3 class="name" ng-class="{'text-muted': !photo.title}" title="Original filename: {{photo.original_file_name}}">
          {{photo.title || photo.original_file_name}}
        </h3>
      </div>
    </div>
  </div>
</div>

<div ng-if="loaded" class="meta-row">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline" style="margin: 0; line-height: 33px">
          <li>Uploaded <span isodate="photo.created_at"></span></li>
          <li>by {{photo.user.username}}</li>
          <li ng-if="photo.published" class="text-success">published</li>
          <li ng-if="!photo.published" class="text-danger">unpublished</li>
          <li ng-if="photo.album_count" ng-pluralize count="photo.album_count" when="{
            '1': 'contained in {{photo.albums[0].title}}',
            'other': 'contained in {} albums'
          }">
          </li>
          <li ng-if="!photo.album_count" class="text-danger">
            not in an album
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <a ng-if="photo.published" class="btn btn-default btn-sm" ng-href="/photos/{{photo.id}}" target="_self">View On Site</a>
        <a class="btn btn-default btn-sm" ng-href="/admin/photos/{{photo.id}}/edit">Edit Photo Details</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 style="margin-top: 0;">Description</h4>
      <div class="photo-description" ng-if="photo.description" ng-bind-html="description"></div>
      <p ng-if="!photo.description">
        <a ng-href="/admin/photos/{{photo.id}}/edit">Add description</a>
      </p>

      <hr>

      <p class="text-muted" ng-if="!photo.albums.length">
        Not included in any albums yet.
      </p>
      <div ng-if="photo.albums.length">
        <h4>
          Featured in
        </h4>
        <table class="table table-wide">
          <tr>
            <th>Album Title</th>
            <th colspan="2">Created</th>
          </tr>
          <tr ng-repeat="album in photo.albums" data-pending="album-{{album.id}}">
            <td><a ng-href="/admin/albums/{{album.id}}"><strong>{{album.title}}</strong></a></td>
            <td><span isodate="album.created_at" class="small"></span></td>
            <td class="text-right small text-muted" ng-pluralize count="album.photo_count" when="{
              '1': '{} photo',
              'other': '{} photos'
            }"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <h4 style="margin-top: 0;">&nbsp;</h4>
      <dl class="dl-horizontal">
        <div ng-if="photo.taken_at">
          <dt>taken</dt>
          <dd>
            <span isodate="photo.taken_at"></span>
          </dd>
        </div>
        <div ng-if="photo.model">
          <dt>hardware</dt>
          <dd>
            {{photo.model}}
          </dd>
        </div>
        <div ng-if="photo.exposure_time">
          <dt>exposure time</dt>
          <dd>
            {{photo.exposure_time}}
          </dd>
        </div>
        <div ng-if="photo.f_number">
          <dt>&fnof;</dt>
          <dd>
            {{photo.f_number}}
          </dd>
        </div>
        <dt>dimensions</dt>
        <dd>
          {{photo.width}}x{{photo.height}}
        </dd>
        <dt>average color</dt>
        <dd>
          <div class="swatch" ng-style="{'background-color': photo.average_hex}" tooltip="{{photo.average_hex}}"></div>
        </dd>
        <dt>top colors</dt>
        <dd>
          <div style="float: left;" ng-repeat="hex in photo.top_colors" class="swatch" ng-style="{'background-color': hex}" tooltip="{{hex}}"></div>
        </dd>
      </dl>
    </div>
  </div>
</div>
