<div class="form-group" show-errors>
  <label class="control-label col-sm-3" for="album-title">Title</label>
  <div class="col-sm-6">
    <input type="text" ng-model="album.title" id="album-title" name="title" class="form-control" required ng-keyup="autofillSlug()">
  </div>
</div>

<div class="form-group" show-errors>
  <label class="control-label col-sm-3" for="album-slug">URL</label>
  <div class="col-sm-6">
    <input type="text" ng-model="album.slug" id="album-slug" name="slug" class="form-control" required>
    <span ng-if="new && album.slug" class="help-block small">Album will be visible at: <em>{{siteUrl}}{{album.slug}}</em> <span class="text-muted">(when published)</span></span>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3" for="album-description">Description</label>
  <div class="col-sm-6">
    <textarea ng-model="album.description" class="form-control" id="album-description" rows="10"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3" for="album-client">Client</label>
  <div class="col-sm-6">
    <input type="text" ng-model="album.client" id="album-client" name="client" class="form-control" placeholder="Optional">
  </div>
</div>

<div class="form-group" ng-if="!new">
  <div class="col-sm-6 col-sm-offset-3">
    <label for="album-published">
      <input type="checkbox" ng-model="album.published" id="album-published">
      Published
    </label>
  </div>
</div>
