<div class="row">
  <div class="col-md-4">
    <ng-include src="'admin/albums/_album_panel.html'" ng-repeat="album in albums | filter:search" ng-if="$index % 3 == 0"></ng-include>
  </div>
  <div class="col-md-4">
    <ng-include src="'admin/albums/_album_panel.html'" ng-repeat="album in albums | filter:search" ng-if="$index % 3 == 1"></ng-include>
  </div>
  <div class="col-md-4">
    <ng-include src="'admin/albums/_album_panel.html'" ng-repeat="album in albums | filter:search" ng-if="$index % 3 == 2"></ng-include>
  </div>
</div>
