<loading-icon class="reveal-animation">
  <div class="hero hero-white">
    <div class="container separated">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 style="margin: 0;"><a ng-href="/admin/albums/{{album.id}}">{{album.title}}</a></h2>
          <p><small class="text-muted">{{siteUrl}}{{album.slug}}</small></p>
          <ul class="list-inline">
            <li>Created <span isodate="album.created_at"></span></li>
            <li>
              by
              <span ng-if="album.user.id == current_user.id">you</span>
              <span ng-if="album.user.id != current_user.id">{{album.user.username}}</span>
            </li>
            <li ng-pluralize count="album.photo_count" when="{
              '1': '{} photo',
              'other': '{} photos'
            }"></li>
          </ul>
        </div>
      </div>

      <form name="$parent.albumForm" class="form-horizontal" novalidate ng-submit="submit()">
        <ng-include src="'admin/albums/_form.html'" onload="album = album"></ng-include>

        <div class="form-group">
          <label class="control-label col-sm-3" for="album-client">Cover</label>
          <div class="col-sm-6">
            <p class="form-control-static" ng-if="!album.cover"><span>not set</span></p>
            <div ng-if="album.cover">
              <photo-square photo="album.cover" href="'/admin/photos/' + album.cover.id" height="50"></photo-square>
            </div>
          </div>
          <div class="col-sm-3" ng-if="album.cover" style="line-height: 50px;">
            <button type="button" class="btn btn-sm btn-link" ng-click="setCover(null);"><span class="text-danger">remove cover</span></button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Update album</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</loading-icon>
