<loading-icon class="reveal-animation">

  <div class="meta-row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-feedback-left" style="margin-bottom: 0;">
            <span class="octicon octicon-search form-control-feedback text-muted"></span>
            <input type="text" class="form-control" ng-model="search.title" placeholder="search albums">
          </div>
        </div>
        <div class="col-md-6 text-right">
          <a href="/admin/albums/new" class="btn btn-primary btn-sm">Create new album</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container separated">
    <ng-include src="'admin/albums/_list.html'" onload="albums = albums"></ng-include>

    <div ng-if="!albums.length">
      <p class="text-muted">No albums to display.</p>
    </div>

    <div ng-if="albums.length && !(albums | filter:query).length">
      <p class="text-muted">No albums match your search.</p>
    </div>
  </div>
</loading-icon>
