<loading-icon class="'reveal-animation'">
  <div class="hero hero-inverse-to-dark text-center">
    <div class="container">
      <h2 style="margin-top: 0;">{{album.title}}</h2>
      <ul class="list-inline">
        <li>Created <span isodate="album.created_at"></span></li>
        <li>by {{album.user.username}}</li>
      </ul>

      <div>
        {{album.description}}
      </div>
    </div>
  </div>

  <div class="meta-row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline" style="margin: 0; line-height: 33px">
            <li>
              <a class="text-default" ng-href="/admin/albums/{{album.id}}">
                <i class="fa fa-photo"></i>
                <strong>{{album.photo_count}}</strong>

                <ng-pluralize count="album.photo_count" when="{
                  '1': 'photo',
                  'other': 'photos'
                }"></ng-pluralize>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <button tooltip="Toggle published state" type="button" ng-if="!album.published" class="togglepub-btn btn btn-sm btn-danger" ng-click="togglePublish()">Unpublished</button>
          <button tooltip="Toggle published state" type="button" ng-if="album.published" class="togglepub-btn btn btn-sm btn-success" ng-click="togglePublish()">Published</button>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addPhotoModal" ng-click="loadPhotos()">Add Photos</button>
          <a class="btn btn-default btn-sm" ng-href="/admin/albums/{{album.id}}/edit">Edit Album Details</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container separated">
    <div class="row">
      <div class="col-md-3 img-preview" ng-repeat="photo in album.photos" ng-class="{'clear-left': $index % 4 == 0}">
        <photo-square photo="photo" href="'/admin/photos/' + photo.id">
          <div class="caption">{{photo.title || photo.original_file_name}}</div>
        </photo-square>
      </div>
    </div>
  </div>
</loading-icon>


<div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add photos to {{album.title}}</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0;">
        <div class="form-group has-feedback-left" style="display: block;">
          <span class="octicon octicon-search form-control-feedback text-muted"></span>
          <input type="text" class="form-control" ng-model="$parent.newPhotoQuery" placeholder="search" ng-model-options="{ debounce: 500 }">
        </div>
      </div>
      <loading-icon loaded="photosLoaded">
        <div class="modal-body" style="padding-top: 0;">
          <div class="row">
            <div class="col-md-3 img-preview" ng-class="{'clear-left': $index % 4 == 0}"
              ng-repeat="photo in photos | notInArray:album.photos">
              <photo-square photo="photo" ng-click="addToAlbum(photo.id)" data-pending="photo-{{photo.id}}">
                <div class="caption">{{photo.title || photo.original_file_name}}</div>
              </photo-square>
            </div>
          </div>

          <div class="text-center" ng-if="!(photos | notInArray:album.photos).length">
            No<span ng-if="photos.length"> more</span> photos available to add.
          </div>
        </div>
      </loading-icon>
      <div class="modal-footer" style="text-align:center;">
        <small class="text-muted">Click on a photo to add it to this album</small>
      </div>
    </div>
  </div>
</div>
