<loading-icon class="reveal-animation">
  <div class="hero hero-inverse-to-dark hero-cover text-center" ng-style="{'background-image': (album.cover ? 'url('+album.cover.sizes.large_1600+')' : null)}" id="hero">
    <div class="container">
      <h2 style="margin-top: 0;">{{album.title}}</h2>
      <p ng-if="album.published" style="margin-top: -10px;">
        <a ng-href="{{siteUrl}}{{album.slug}}" class="small">{{siteUrl}}{{album.slug}}</a>
      </p>
      <ul class="list-inline">
        <li>Created <span isodate="album.created_at"></span></li>
        <li>
          by
          <span ng-if="album.user.id == current_user.id">you</span>
          <span ng-if="album.user.id != current_user.id">{{album.user.username}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="affix-pad"></div>

  <div class="meta-row" affix="#hero">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="changer">
            <div class="outgoing">
              <ul class="list-inline" style="margin: 0; line-height: 33px">
                <li>
                  <a class="text-default" ng-href="/admin/albums/{{album.id}}">
                    <i class="fa fa-photo"></i>
                    <strong>{{album.photo_count||""}}</strong>

                    <ng-pluralize count="album.photo_count" when="{
                      '0': 'no photos',
                      '1': 'photo',
                      'other': 'photos'
                    }"></ng-pluralize>
                  </a>
                </li>
              </ul>
            </div>
            <div class="incoming">
              <div style="line-height: 33px">
                <h4 style="margin: 0; line-height: 33px">{{album.title}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 text-right">
          <button tooltip="Toggle published state" type="button" ng-if="!album.published" class="togglepub-btn btn btn-sm btn-danger" ng-click="togglePublish()">Unpublished</button>
          <button tooltip="Toggle published state" type="button" ng-if="album.published" class="togglepub-btn btn btn-sm btn-success" ng-click="togglePublish()">Published</button>
          <a class="btn btn-default btn-sm" ng-href="/admin/albums/{{album.id}}/upload">Upload Photos</a>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addPhotoModal" ng-click="loadPhotos()">Add Existing Photos</button>
          <a class="btn btn-default btn-sm" ng-href="/admin/albums/{{album.id}}/edit">Edit Details</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container separated">
    <div class="row" id="photo-grid">
      <div class="col-md-3 img-preview ui-state-default" data-id="{{photo.album_photo_id}}"
        ng-repeat="photo in album.photos | orderBy:'position'" ng-class="{'clear-left': photo.position % 4 == 0}">
        <photo-square photo="photo" ng-click="openPhoto(photo)" data-pending="photo-{{photo.id}}">
          <div class="hover-options">
            <button ng-click="$event.preventDefault(); setCover(photo.id);" class="btn btn-link" tooltip="Choose as album cover"><i class="octicon octicon-bookmark"></i></button>
            <button ng-click="$event.preventDefault(); removeFromAlbum(photo.id, photo.position);" class="btn btn-link" tooltip="Remove from album"><i class="octicon octicon-x"></i></button>
          </div>
          <div class="caption">{{photo.title || photo.original_file_name}}</div>
        </photo-square>
      </div>
    </div>

    <div ng-if="!album.photos.length" class="text-center">
      <a class="btn btn-success btn-lg" ng-href="/admin/albums/{{album.id}}/upload">Upload Photos</a>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-6">
        <h4>Description</h4>
        <div class="album-description" ng-if="album.description" ng-bind-html="description"></div>
        <p ng-if="!album.description">
          <a ng-href="/admin/albums/{{album.id}}/edit">Add description</a>
        </p>
      </div>
      <div class="col-md-6">
        <h4>&nbsp;</h4>
        <dl class="dl-horizontal">
          <dt>created by</dt>
          <dd>
            <span ng-if="album.user.id == current_user.id">you</span>
            <span ng-if="album.user.id != current_user.id">{{album.user.username}}</span>
          </dd>
          <dt>created</dt>
          <dd>
            <span isodate="album.created_at"></span>
          </dd>
          <dt>updated</dt>
          <dd>
            <span isodate="album.updated_at"></span>
          </dd>
          <dt>client</dt>
          <dd>
            <span ng-if="album.client">{{album.client}}</span>
            <span ng-if="!album.client"><em class="text-muted">unspecified</em></span>
          </dd>
          <dt>published</dt>
          <dd>
            <span ng-if="album.published"><span isodate="album.published_at"></span></span>
            <span ng-if="!album.published"><em class="text-danger">unpublished</em></span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</loading-icon>


<div class="modal" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add photos to {{album.title}}</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0;">
        <div class="form-group has-feedback-left" style="display: block;">
          <span class="octicon octicon-search form-control-feedback text-muted"></span>
          <input type="text" class="form-control" ng-model="$parent.newPhotoQuery" placeholder="search" ng-model-options="{ debounce: 500 }">
        </div>
      </div>
      <loading-icon loaded="photosLoaded">
        <div class="modal-body" style="padding-top: 0;">
          <div class="row">
            <div class="col-md-3 img-preview" ng-class="{'clear-left': $index % 4 == 0}"
              ng-repeat="photo in photos | notInArray:album.photos">
              <photo-square photo="photo" ng-click="addToAlbum(photo.id)" data-pending="photo-{{photo.id}}">
                <div class="caption">{{photo.title || photo.original_file_name}}</div>
              </photo-square>
            </div>
          </div>

          <div class="text-center" ng-if="!(photos | notInArray:album.photos).length">
            No<span ng-if="photos.length"> more</span> photos available to add.
          </div>
        </div>
      </loading-icon>
      <div class="modal-footer" style="text-align:center;">
        <small class="text-muted">Click on a photo to add it to this album</small>
      </div>
    </div>
  </div>
</div>
