// Bootstrap framework
@import "twitter/bootstrap";

// Our variables
@import "variables";

@import "shared";

@brand-secondary:     #353a43;

// @body-bg: #fff;

// @font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-weight:    500;

@navbar-default-bg: #fff;
//
// .white {
//   background: #fff;
//   padding-top: 10px;
//   margin-top: -10px;
// }

body {
  // padding-top: 0;
}

footer {
  // padding: 30px 0;
  // margin-top: 15px;
  color: @gray-light;

  ul {
    padding-left: 20px !important;
    display: inline;
  }
}

.navbar-nav > li > a {
  // font-weight: 600;
}

.navbar-brand {
  font-weight: 400;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  // background-color: #333;
  // color: #eee;

  font-size: 90%;
}

.navbar-brand {
  font-weight: 500;
}

.swatch {
  border-radius: @border-radius-base;
  margin-right: 4px;
}

#palette {
  .swatch {
    border-radius: @border-radius-base;
    width: 50px;
    height: 50px;
    margin: auto;
  }
}

.photo-swatch-grid {
  width: 15% !important;
  margin-right: 1.66666667% !important;

  .the-photo {
    position: absolute;
    top: 0;
    left: 15px;
    opacity: 0;
    z-index: 100;
    .transition(~"opacity ease-out .2s");
  }

  &:hover {
    .the-photo {
      opacity: 1;
      .inside {
        background: transparent !important;
      }
    }
  }
}

.attribution {
  color: inherit;
}

admin-box {
  display: block;
}

.dark-blob {
  background: #ddd;
  border-radius: @border-radius-base;
  padding: 5px 20px;
  margin-top: 25px;
}

.admin-opts {
  margin: 30px 0;
}

.cover {
  background-size: cover;
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  height: 250px;
  // z-index: 1;
}

.album-header {

}

.cover-cutter {
  margin-top: 250px;
  padding: 20px 30px;
  position: relative;
  z-index: 3;

  .shadow {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: -1;
  }
}

.swatch-strip {
  width: 100%;
  overflow: hidden;

  .swatch-row {
    height: 4px;
    float: left;
    width: 100% / 9;
  }
}

.hero-cover {
  color: #fff;
}

photo-reel {
  display: block;
  width: 100%;

  &.project-reel {
    padding: 40px 0;
  }

  .reel-row {
    height: 100%;
    width: 100%;
    white-space: nowrap;
  }

  .photo-holder {
    display: inline-block;
    padding-right: 30px;

    photo-element {
      box-shadow: 1px 1px 10px rgba(0,0,0, .29);
    }
  }
}
