.navbar-brand {
  font-weight: 600;
}

.navbar-nav {
  li.active {
    a {
      font-weight: 600;
    }
  }
}


body {
  padding-top: @navbar-height + 10;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.dark {
  color: #eee;
}

.primary-bg {
  // Styles for items with a background set to @brand-primary

  .dark;
  .btn-primary {
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
  }
}

.hero {
  margin-top: -10px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 40px;

  &.hero-inverse-to-dark {
    #gradient > .vertical(@brand-secondary, darken(@brand-secondary, 6%));

    .primary-bg;
  }

  &.hero-white {
    // background: #eef;
  }

  &.hero-bordered {
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0,0,0, .1);
  }

  &.hero-cover {
    background-size: cover;
    margin-top: -71px;
    padding-top: 101px;
    text-shadow: 0 0 6px rgba(0,0,0, .6);

    &.affix {
      bottom: 71px;
      width: 100%;
      z-index: 1010;
    }
  }
}
