<p>Hello there!</p>

<p>
  Someone has invited you to join <%= root_url %>. If you accept this invitation,
you will be asked to create an Administrator account on the site. This account
will allow you to upload photos as well as manage existing photos.
</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
