<div ng-if="notFound" class="container text-center" style="margin-top: 40px;">
Not found
</div>

<loading-icon class="reveal-animation" ng-if="!notFound">
  <!-- <div class="hero hero-white">
    <div class="container">
      <h1>{{album.title}}</h1>
      <div class="album-description" ng-if="album.description" ng-bind-html="description"></div>
    </div>
  </div> -->


  <photo-reel class="project-reel" photos="album.photos" style="height: 800px"></photo-reel>
  <div class="container">
  </div>
</loading-icon>
